---
const { item } = Astro.props;
---

<div
	x-ref="panel"
	x-show="open"
	x-transition.origin.top.left
	x-on:click.outside="close($refs.button)"
	:id="$id('dropdown-button')"
	style="display: none;"
	class="absolute left-0 mt-2 w-40 rounded-md bg-white/10 shadow-md">
	{
		item.children.map((child) => (
			<a
				href={child.href}
				class="flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left hover:bg-black/10 disabled:text-gray-500">
				{child.text}
			</a>
		))
	}
</div>
